*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(to right, skyblue,navy);

}

/* Image Files */
.Image
{
       
      position: absolute;
      padding-left: 35cm;
      align-items: center;
      justify-content: center;
      height: 38rem;
      width: 250px;
      background-image: url('image0.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.25;
      mix-blend-mode: multiply ;
      z-index: -1;
}

